@import './components.css';

@tailwind base;

@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: black;
    --color-accent: #4f2d7f;
    --border-radius: 8px;
    --blue: #4b6cad;
    --violet: #72419d;
    --darkBlue: #2551a8;
    --darkViolet: #4f2d7f;
}

@font-face {
  font-family: "Clarendon Regular";
  src: local("Clarendon Regular"), url("./ClarendonRegular.woff") format("woff");
}

body {
  font-family: "Clarendon Regular", serif;
}

hr {
    width: 80%;
    height: 2px;
    background: linear-gradient(to left, #4b6cad, #72419d);
    margin: 20px auto;
    border: none;
    opacity: 0.8;
}