@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Clarendon Regular";
  src: url("/fonts/ClarendonRegular.woff") format("woff");
}

body {
  @apply bg-black text-white min-h-screen;
  font-family: "Clarendon Regular", serif;
}

hr {
  @apply w-4/5 h-0.5 mx-auto my-5 border-0 opacity-80;
  background: linear-gradient(to left, #4b6cad, #72419d);
}
